<div class="categorias-header">
    <button class="seta_esquerda">
        <span class="material-icons">arrow_back</span>
    </button>
</div>

<div class="categoria_hobbies">
    <h1 class="categoria">Categoria</h1>
    <h1 class="tipo_hobbies">> Esportes</h1>
</div>

<h1 class="esportes">Esportes</h1>

<div class="a">
  <div class="grupo">
    <h2>Futebol</h2>
    <button class="grupo_categoria">
        <img src="images/futebol.png" alt="">
    </button>
</div>

<div class="grupo">
    <h2>Basquete</h2>
    <button class="grupo_categoria">
        <img src="images/basquete.png" alt="">
    </button>
</div>
</div>
