<div class="categorias-header">
    <button class="seta_esquerda">
        <span class="material-icons">arrow_back</span>
    </button>
</div>

<div class="categoria_hobbies">
    <h1 class="categoria">Categoria</h1>
    <h1 class="tipo_hobbies">> Esportes</h1>
</div>

<h1 class="esportes">Esportes</h1>

<div class="container">
    <div *ngFor="let categoria of categorias" class="grupo">
        <h2>{{ categoria.nome }}</h2>
        <button class="grupo_categoria">
            <img [src]="categoria.imagem" alt="{{ categoria.nome }}">
        </button>
    </div>
</div>
