<section>
  <div class="retangulo">
    <h1>Entre</h1>
    <div class="div-input">
        <div class="input-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
            </svg>
            <input type="text" placeholder="abc@email.com" />
        </div>
        <div class="input-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clip-rule="evenodd" />
            </svg>
            <input type="password" placeholder="senha"/>
        </div>
        <div>
            <h3>Esqueceu sua senha?</h3>
        </div>
    </div>
    <div class="entre">
        <button class="cadastrese">Entre</button>
        <h2>ou</h2>
        <div class="login_icon"> <!-- Flaticon -->
            <button class="icon-button">
              <a href="https://google.com/" target="_blank" aria-label="Facebook"><img class="socials" src="images/google.png"></a>
            </button>
            <button class="icon-button">
              <a href="https://facebook.com" target="_blank" aria-label="Facebook"><img class="socials" src="images/facebook.png"></a>
            </button>
        </div>
        <button class="conta" (click)="navegarParaCadastro()">
            Não tem uma conta? Cadastre-se
        </button>
    </div>
  </div>
</section>
