.logo {
    width: 200px;
    padding-top: 24px;
}

.fundo {
    width: auto;
    padding: 16px 48px 0 48px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.fundo img, .logo img {
    max-width: 100%;
    height: auto;
}