header {
    padding-bottom: 24px;
}

.logo img{
    width: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 64px;
    position: relative;
}

.fundo {
    width: auto;
    padding: 16px 48px 0 48px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.fundo img {
    max-width: 97%;
    height: auto;
}